@import "tailwindcss";

### Primary

- Navy 850: hsl(217, 28%, 15%)
- Navy 900: hsl(218, 28%, 13%)
- Navy 950: hsl(216, 53%, 9%)
- Navy 800: hsl(219, 30%, 18%)
- Teal 200: hsl(176, 68%, 64%)
- Cyan 500: hsl(198, 60%, 50%)
- Red 500: hsl(0, 100%, 63%)
- White: hsl(0, 0%, 100%)